
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @guest.first_name %></h1>
    <p>
      You are invited to ...
    </p>
    <p>
      To RSVP, just follow this link: <%= @url %>.
    </p>
  </body>
</html>
